{% extends 'blog/base.html' %}

{% block content %}
<h3>Contact Details</h3>
<p>Email: katie.mae108@gmail.com</p>
<p>LinkedIn: https://www.linkedin.com/in/katie-mae-potts/ </p>

<h3>Academics</h3>
{% if user.is_authenticated %}
  <a href="cv/new_academic"><button><span class="glyphicon glyphicon-plus"></span></button></a>
{% endif %}
{% for academic in academics %}
      <div class="academic">
            <h4>{{ academic.institution }}</h4>
            <p>Leaving year: {{ academic.gradYear }}</p>
            <p>{{ academic.details }}</p>
            {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'academic_edit' pk=academic.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
     </div>
{% endfor %}

<h3>Coding Skills</h3>
{% if user.is_authenticated %}
  <a href="cv/new_coding"><button><span class="glyphicon glyphicon-plus"></span></button></a>
{% endif %}
{% for skill in codings %}
      <div class="coding">
            <h4>{{ skill.skill }}</h4>
            <p>{{ skill.proficiency }}</p>
            {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'coding_edit' pk=skill.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
     </div>
{% endfor %}

<h3>Other Achievements</h3>
{% if user.is_authenticated %}
  <a href="cv/new_achievement"><button><span class="glyphicon glyphicon-plus"></span></button></a>
  {% for achievement in achievements %}
        <div class="achievement">
              <h4>{{ achievement.label }}</h4>
              <p>Date: {{ achievement.month }} {{ achievement.year }}</p>
              <p>{{ achievement.details }}</p>
              {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'achievement_edit' pk=achievement.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
       </div>
  {% endfor %}
{% endif %}

<h3>Other Interests</h3>
{% if user.is_authenticated %}
  <a href="cv/new_interest"><button><span class="glyphicon glyphicon-plus"></span></button></a>
  {% for interest in interests %}
        <div class="interest">
              <h4>{{ interest.title }}</h4>
              <p>{{ interest.details }}</p>
              {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'interest_edit' pk=interest.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
       </div>
  {% endfor %}
{% endif %}

{% endblock %}
