{% extends 'blog/base.html' %}

{% block content %}
<h3>Contact Details</h3>
<p>Email: katie.mae108@gmail.com</p>
<p>LinkedIn: https://www.linkedin.com/in/katie-mae-potts/ </p>

<h3>Academics</h3>
{% if user.is_authenticated %}
  <a class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<h3>Coding Skills</h3>
{% if user.is_authenticated %}
  <a class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<h3>Other Achievements</h3>
{% if user.is_authenticated %}
  <a class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<h3>Other Interests</h3>
{% if user.is_authenticated %}
  <a class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

{% endblock %}
