{% extends 'blog/base.html' %}

{% block content %}
<h3>Welcome!</h3>
<p>This is the site of Katie Potts, a fourth year Computer Science student at the University of Birmingham. So far it contains her CV and a blog, which is used to discuss topics
  within Computer Science, focussing on Human Computer Interaction, and more specifically, digital accessibility and how computers can be used for mental health.</p>

<p>Feel free to look around!</p>

<p>The blog can be accessed here: <a href="/blog">Link to blog</a></p>
<p>Katie's CV can be accessed here: <a href="/cv">Link to CV</a></p>
{% endblock %}
