{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<p>
  <button type="button" name="button">
  <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
  </button>
</p>
{% endif %}
  {% for post in posts %}
        <div class="post">
              <div class="date">
                  <p>published: {{ post.published_date }}</p>
              </div>
              <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
              <p>{{ post.text|linebreaksbr }}</p>
       </div>
  {% endfor %}
{% endblock %}
